<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale = 1.0">
	<title>👑🦠 Coronavirus Tracker: Charts, graphs, and maps of COVID-19 infections, recoveries, and deaths.</title>
	<meta property="og:title"
		  content="👑🦠 Coronavirus Tracker: Charts, graphs, and maps of COVID-19 infections, recoveries, and deaths.">

	<meta name="description"
		  content="Coronavirus/COVID-19 metrics tracking tool with charts supporting multi-country aggregation, regression analysis, and a map with absolute and relative figures on a sliding scale for historical adjustment.">
	<meta property="og:description"
		  content="Coronavirus/COVID-19 metrics tracking tool with charts supporting multi-country aggregation, regression analysis, and a map with absolute and relative figures on a sliding scale for historical adjustment.">

	<meta name="keywords"
		  content="Coronavirus, COVID-19, tracker, monitor, charts, metrics, progression, graph, map, regression, cases, infections, recoveries, deaths, Arik, Arik Sosman, Elle, Elle Beal">

	<meta property="og:type" content="website">
	<meta property="og:url" content="https://coronavirus.arik.io/">

	<link rel="stylesheet" href="./styles.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
		  integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
	<link href="https://fonts.googleapis.com/css?family=Spartan:300,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="bower_components/social-share-kit/dist/css/social-share-kit.css" type="text/css">
	<link rel="stylesheet" href="assets/css/jquery-ui.min.css" type="text/css">
	<script src="libs/axios/dist/axios.min.js"></script>
	<script src="libs/vue/dist/vue.min.js"></script>
	<script src="libs/vue-router/dist/vue-router.min.js"></script>
	<script src="libs/chart.js/dist/Chart.bundle.min.js"></script>
	<script src="assets/js/Chart.Geo.min.js"></script>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery-ui.min.js"></script>
	<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
	<script src="libs/regression-js/dist/regression.min.js"></script>
	<script src="bower_components/moment/min/moment.min.js"></script>
	<script src="assets/js/lm_fitter.js"></script>
	<script src="bower_components/social-share-kit/dist/js/social-share-kit.min.js"></script>
</head>
<body>

<!--
<div style="background-color: blanchedalmond; height: 500px; width: 800px; margin: auto;">
    <div style="background-color: #5cb85c; height: 400px; float: left; width: 200px;"></div>
    <div style="background-color: #2793db; height: 400px;"></div>
    <div style="clear: both;"></div>
</div>
-->

<div class="main">

	<div id="app" class="everything-except-footer">

		<div id="header" class="header">
			<div class="container">
				<div class="desktop_header">
					<div style="float: left;">
						<h1>COVID-19 Progression</h1>
					</div>
					<div class="link_container" style="float: right;">
						<a href="javascript:" v-on:click="toggleShare()" class="ssk ssk-icon ssk-link"
						   title="Share chart setup"></a>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>

		<div v-if="loading" class="loading-section">
			Loading…
		</div>

		<template>

			<div id="share_section" class="container" v-show="showShare" style="display: none;">
				<div>
					<div class="sidebar">
						<div class="share_container">
							<table cellspacing="2px">
								<tr>
									<td>
										<a href="javascript:" v-on:click="copyLink()"
										   v-show="showCopyLink">Copy&nbsp;link</a>
										<span style="display: none;" v-show="!showCopyLink">Copied!</span>
									</td>
									<td width="100%"><input id="link_box" v-model="shareableLink"/></td>
									<td><a href="javascript:" class="ssk ssk-twitter ssk-xs ssk-round"></a></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div id="aggregation_section" class="container">

				<div class="sidebar">
					<div id="geography_picker" class="geography-picker" v-bind:class="{set_comparison: comparisonMode}">

						<div class="set_selector">
							<div>
								<span class="note"><a v-on:click="clearSelection">Clear Selection</a></span>
								<div v-if="comparisonMode">
									<span v-for="(dataSet, setIndex) in selectionSets"
										  v-bind:class="{active: setIndex === activeSelectionSetIndex}"
										  v-on:click="activeSelectionSetIndex = setIndex">{{dataSet.defaultSetName}}</span>
								</div>
							</div>
						</div>

						<div class="modifiers pure-menu pure-menu-scrollable custom-restricted settings-block">
							<template v-for="(currentSelectionSet, setIndex) in selectionSets"
									  v-if="setIndex === activeSelectionSetIndex">
								<country-selector v-bind:set-index="setIndex"
												  v-bind:data-set.sync="currentSelectionSet"
												  v-bind:key="'country_selector_'+activeSelectionSetIndex">
									<template v-slot:default="selectionSlot">
										<ul class="pure-menu-list">
											<!--{{se`tPopulations[setIndex]}}-->
											<!--{{selectionSlot.setData}}
											<input type="checkbox" v-model="selectionSlot.setData.abc" />
											{{selectionSlot.setData.abc}}-->

											<!--<li class="pure-menu-list-item">
												<input id="cruise_ship_descendants" type="checkbox" v-model="includeCruiseShipDescendants"/>
												<label for="cruise_ship_descendants" style="font-style: italic;">Abroad from Cruise Ship
													(Modifier)</label>
											</li>-->

											<li class="pure-menu-list-item">
												<input id="select_all_checkbox" type="checkbox"
													   v-model="selectionSlot.setData.selectAll"
													   :indeterminate.prop="selectionSlot.setData.partialSelection.total"/>
												<label for="select_all_checkbox" class="country_label select_all">
													<span class="country_name">Select All</span>
													<span class="country_decoration"
														  v-html="decoratedCountries['total']"></span>
												</label>
											</li>
											<template v-for="country in sortedCountries">
												<li class="pure-menu-list-item"
													v-bind:class="{subdivided: country.hasSubdivisions, expanded: selectionSlot.setData.expandTerritories[country.code]}">
													<span v-if="country.hasSubdivisions"
														  class="subdivision_toggle"
														  v-on:click="selectionSlot.setData.expandTerritories[country.code] = !selectionSlot.setData.expandTerritories[country.code]"></span>
													<input type="checkbox"
														   v-bind:id="'country_'+country.code"
														   v-bind:value="country.code"
														   v-model="selectionSlot.setData.checkedCountries"
														   :indeterminate.prop="selectionSlot.setData.partialSelection[country.code]"
													/>
													<label v-bind:for="'country_'+country.code" class="country_label">
														<span class="country_name">{{country.formated}}</span>
														<span class="country_decoration"
															  v-html="decoratedCountries[country.code]"></span>
													</label>
												</li>
												<li v-for="territory in sortedTerritories[country.code]"
													class="pure-menu-list-item territory"
													v-show="selectionSlot.setData.expandTerritories[country.code]">
													<input type="checkbox"
														   v-bind:id="'territory_'+territory.code"
														   v-bind:value="territory.code"
														   v-model="selectionSlot.setData.territorySelections[country.code]"
													/>
													<label v-bind:for="'territory_'+territory.code"
														   class="territory_label">
														<span class="country_name">{{territory.formated}}</span>
														<!--<span class="country_decoration" v-html="decoratedCountries[country.code]"></span>-->
													</label>
												</li>
											</template>
										</ul>
									</template>
								</country-selector>
							</template>
						</div>
					</div>

					<div id="aggregation_configuration" class="aggregation-configuration">
						<div id="config" class="settings-block pure-menu config">
							<ul class="pure-menu-list">
								<template v-if="!comparisonMode">
									<li class="pure-menu-list-item">
										<input id="cases_checkbox" type="checkbox" v-model="showCases"/>
										<label for="cases_checkbox">Cases</label>
										<br/>
										<input id="recoveries_checkbox" type="checkbox" v-model="showRecoveries"/>
										<label for="recoveries_checkbox">Recoveries</label>
										<br/>
										<input id="deaths_checkbox" type="checkbox" v-model="showDeaths"/>
										<label for="deaths_checkbox">Deaths</label>
									</li>
								</template>
								<template v-else>
									<li class="pure-menu-list-item">
										<input id="cases_data_type_radio" value="cases" type="radio"
											   v-model="comparisonDataType"/>
										<label for="cases_data_type_radio">Cases</label>
										<br/>
										<input id="recoveries_data_type_radio" value="recoveries" type="radio"
											   v-model="comparisonDataType"/>
										<label for="recoveries_data_type_radio">Recoveries</label>
										<br/>
										<input id="deaths_data_type_radio" value="deaths" type="radio"
											   v-model="comparisonDataType"/>
										<label for="deaths_data_type_radio">Deaths</label>
									</li>
								</template>
								<li class="pure-menu-list-item" v-if="canShowLogScale">
									<input type="radio" id="linear_scale_radio" name="scale" v-model="scale"
										   value="linear"/>
									<label for="linear_scale_radio">Linear Scale</label>
									<input type="radio" id="log_scale_radio" name="scale" v-model="scale" value="log"
										   :disabled="!canShowLogScale"/>
									<label for="log_scale_radio">Log Scale</label>
								</li>
								<li class="pure-menu-list-item" v-if="!comparisonMode">
									<input type="radio" id="joint_axis_radio" name="axes" v-model="axes" value="joint"/>
									<label for="joint_axis_radio">One Axis</label>
									<input type="radio" id="separate_axes_radio" name="axes" v-model="axes"
										   value="separate"
										   :disabled="!canSeparateAxes"/>
									<label for="separate_axes_radio">Two Axes</label>
								</li>
								<li class="pure-menu-list-item">
									<input type="radio" id="total_radio" v-model="derivative"
										   v-bind:value="false"/>
									<label for="total_radio">Total</label>
									<input type="radio" id="delta_radio" v-model="derivative"
										   v-bind:value="true"/>
									<label for="delta_radio">Daily Increase</label>
								</li>
								<li class="pure-menu-list-item" v-if="canShowRelation">
									<input type="radio" id="relation_absolute_radio" v-model="relationType"
										   value="absolute"/>
									<label for="relation_absolute_radio">Absolute</label>
									<input type="radio" id="relation_relative:population_radio" v-model="relationType"
										   value="relative" v-bind:disabled="!canCalculateRelation"/>
									<label for="relation_relative:population_radio">Relative to Population (‱)</label>
								</li>

								<template v-if="derivative">
									<li class="pure-menu-list-item" >
										<label>Smoothing: {{blurDerivative}}</label><br/>
										<input type="range" v-model="blurDerivative" min="1" max="14"/>
									</li>
									<li class="pure-menu-list-item" >
										<select id="derivative_type" v-model="derivativeType" class="select-css">
											<option value="absolute">Absolute Increase</option>
											<option value="relative">Relative Increase</option>
										</select>
									</li>
								</template>
								<li class="pure-menu-list-item" v-if="canShowRegression">
									<select id="regression" v-model="regression"
											:disabled="!canShowRegression" class="select-css">
										<option value="none">Apply Regression…</option>
										<option value="exponential">Exponential</option>
										<option value="logistic">Logistic (Experimental)</option>
									</select>
								</li>
							</ul>
						</div>

						<div id="details" class="settings-block" v-if="regression !== 'none'">
							<div id="regression_details" class="pure-menu">
								<ul class="pure-menu-list">
									<li class="pure-menu-list-item">
										<label>Extrapolation Size: {{extrapolationSize}}</label>
										<input type="range" v-model="extrapolationSize" min="2" max="15"/>
									</li>
									<li class="pure-menu-list-item">
										<label>Model Offset: {{modelOffset}}</label>
										<input type="range" v-model="modelOffset" v-bind:min="regressionOffsetMinimum"
											   v-bind:max="regressionOffsetMaximum"/>
									</li>
									<li class="pure-menu-list-item" v-if="regression === 'exponential'">Equation: f(x) =
										{{regressionSeries.cases.equation[0]}}e<sup>{{regressionSeries.cases.equation[1]}}x</sup>
									</li>
									<li class="pure-menu-list-item" v-if="regression === 'logistic'">Equation: f(x) =
										{{Math.round(regressionSeries.cases.parameterValues[0])}} / (1 +
										{{Math.round(regressionSeries.cases.parameterValues[1])}}e<sup>{{Math.round(regressionSeries.cases.parameterValues[2]*100)/100}}x</sup>)
									</li>
									<li class="pure-menu-list-item" v-if="regression === 'exponential'">R<sup>2</sup>:
										{{regressionSeries.cases.r2}}
									</li>
								</ul>
							</div>
						</div>

						<div class="settings-block" v-if="comparisonMode">
							<div id="comparison_details" class="pure-menu">
								<ul class="pure-menu-list">
									<li class="pure-menu-list-item">
										<label>{{selectionSets[1].setName}} offset:</label> {{offsetB}}
										<br/>
										<input type="range" v-model="offsetB" v-bind:min="setOffsetMinimum" v-bind:max="setOffsetMaximum" />
									</li>
									<li class="pure-menu-list-item">
										<label>{{selectionSets[2].setName}} offset:</label> {{offsetC}}
										<br/>
										<input type="range" v-model="offsetC" v-bind:min="setOffsetMinimum" v-bind:max="setOffsetMaximum" />
									</li>
									<li class="pure-menu-list-item">
										<input v-on:click="normalizeOffset()" type="button" value="Normalize">
										<input v-on:click="resetOffset()" type="button" value="Reset">
									</li>
								</ul>
							</div>
						</div>

					</div>

					<div class="chart_selector">
						<div>
							<span class="note">Johns Hopkins <a href="https://github.com/CSSEGISandData/COVID-19/issues/1250" target="_blank">stopped reporting</a> US recovery data. We gave up on a new source.</span>
							<div>
								<span v-bind:class="{active: !comparisonMode}"
									  v-on:click="comparisonMode = false; activeSelectionSetIndex = 0;">{{aggregationLabel}}</span><span
								v-bind:class="{active: comparisonMode}"
								v-on:click="comparisonMode = true">Compare</span>
							</div>
						</div>
					</div>

					<div class="chart_container">
						<div class="graph-canvas-wrapper">
							<canvas id="graph_canvas" style="width: 100%;" xclass="pure-u-5-6"></canvas>
						</div>
						<div id="graph-range-control">
							<div id="graph-range-slider"></div>
							<div style="float: left;">{{graphRange.start}}</div>
							<div style="float: right;">{{graphRange.end}}</div>
							<div style="clear:both;"></div>
						</div>
						<template v-if="developerMode">
							<div style="text-align: right;">
								<a v-bind:href="graphExportURL" target="_blank">Export Graph</a>
							</div>
						</template>
						<template v-if="showSelectionTotals">
							<div v-if="!derivative">
								<span v-if="aggregatedTotals.cases !== null">🤒 Infected: {{aggregatedTotals.cases}}</span>
								<span v-if="aggregatedTotals.recoveries !== null">👍 Recovered: {{aggregatedTotals.recoveries}}</span>
								<span v-if="aggregatedTotals.deaths !== null">☠️ Dead: {{aggregatedTotals.deaths}}</span>
							</div>
							<div v-if="derivative">
								<span v-if="aggregatedTotals.cases !== null">🤒 New Infections: {{aggregatedTotals.cases}}</span>
								<span v-if="aggregatedTotals.recoveries !== null">👍 New Recoveries: {{aggregatedTotals.recoveries}}</span>
								<span v-if="aggregatedTotals.deaths !== null">☠️ New Deaths: {{aggregatedTotals.deaths}}</span>
							</div>
							<div>
								<span>Days since record daily infections: {{athElapsedDays}}</span>
							</div>
						</template>
					</div>

					<div style="clear: both;"></div>

				</div>


			</div>
			<!-- <div>
				<span>Data: <a href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series">https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series</a></span>
				<span>Source: <a href="https://github.com/arik-so/coronavirus/tree/gh-pages">https://github.com/arik-so/coronavirus/tree/gh-pages</a></span>
			</div> -->


			<template v-if="showMap">
				<div id="map_section" class="container">
					<div class="map_selector">
						<div class="sidebar">
							<div>
							<span v-for="currentMap in mapScopes" v-bind:class="{active: currentMap === mapScope}"
								  v-on:click="mapScope = currentMap">{{currentMap}}</span>
							</div>
						</div>
					</div>
					<div class="sidebar">
						<div class="map_container">
							<div style="/*float: right;*/">
								<ul class="pure-menu-list">
									<li class="pure-menu-list-item">
										Metric:
										<select id="map_data_source" v-model="mapDataSource" class="select-css">
											<option value="cases">Cases</option>
											<option value="recoveries" v-bind:disabled="!canShowMapSourceRecoveries">
												Recoveries <template v-if="!canShowMapSourceRecoveries && mapScope !== 'USA'">(only until March 22nd)</template>
											</option>
											<option value="deaths">Deaths</option>
										</select>
									</li>
									<li class="pure-menu-list-item">
										Reference:
										<select id="map_data_reference" v-model="mapDataReference" class="select-css">
											<option value="absolute">Absolute</option>
											<option value="relative:population">Relative to Population</option>
											<option value="relative:cases" v-if="canShowMapRelativeToCases">Relative to
												Cases
											</option>
											<option value="relative:outcomes" v-if="canShowMapRelativeToOutcomes">Relative
												to
												Known Outcomes <template v-if="!canShowMapRelativeToOutcomes && mapScope !== 'USA'">(only until March 22nd)</template>
											</option>
											<option value="relative:recoveries" v-if="canShowMapRelativeToRecoveries">
												Relative
												to Recoveries <template v-if="!canShowMapRelativeToRecoveries && mapScope !== 'USA'">(only until March 22nd)</template>
											</option>
										</select>
									</li>
								</ul>
							</div>
							<div style="clear: both;"></div>


							<div class="canvas_container">
								<covid-map v-bind:scope="mapScope"
										   v-bind:key="mapScope"
										   v-bind:map-date="mapDate"
										   v-bind:map-data-source="mapDataSource"
										   v-bind:map-data-reference="mapDataReference"></covid-map>
							</div>

							<!--<covid-map v-if="activeMap === 'World'"
									   scope="World"
									   key="world_map"
									   v-bind:map-date="mapDate"
									   v-bind:map-data-source="mapDataSource"
									   v-bind:map-data-reference="mapDataReference"></covid-map>

							<covid-map v-if="activeMap === 'USA'"
									   scope="USA"
									   key="us_state_map"
									   v-bind:map-date="mapDate"
									   v-bind:map-data-source="mapDataSource"
									   v-bind:map-data-reference="mapDataReference"></covid-map>

							<covid-map v-if="activeMap === 'Europe'"
									   scope="Europe"
									   key="europe_map"
									   v-bind:map-date="mapDate"
									   v-bind:map-data-source="mapDataSource"
									   v-bind:map-data-reference="mapDataReference"></covid-map>-->

							<div>
								{{formatMapDate(mapDate)}} (adjust slider)
								<br/>
								<input style="width: 100%;" type="range" v-model="mapDate" v-bind:min="mapDateMinimum"
									   v-bind:max="mapDateMaximum"/>
							</div>
						</div>
					</div>
				</div>
			</template>

		</template>

	</div>

	<div id="footer" class="footer">
		<div class="container footer-container">
			<p>Last updated: Jan 10th 2021 at 2am PST</p>
			<p><a href="https://github.com/arik-so/coronavirus/tree/gh-pages" target="_blank">Github</a> | <a
				href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series"
				target="_blank">Data</a> (Latest known inaccuracy: <a
				href="https://github.com/CSSEGISandData/COVID-19/issues/1321" target="_blank">#1321</a>)</p>
			<p>Built wearing 😷 by <a href="https://twitter.com/arikaleph" target="_blank"
									  xclass="ssk ssk-text ssk-twitter ssk-xs">@arikaleph</a> and <a
				href="https://twitter.com/elliebee" target="_blank">@elliebee</a>.</p>
		</div>
	</div>

</div>

<script type="application/javascript">
	(() => {
		const cacheResetter = Math.round(Date.now() / (10 * 60 * 1000));
		const appScript = document.createElement('script');
		const mapScript = document.createElement('script');
		const countrySelectionScript = document.createElement('script');
		appScript.setAttribute("src", `app.js?cache=${cacheResetter}`);
		mapScript.setAttribute("src", `assets/js/components/map.js?cache=${cacheResetter}`);
		countrySelectionScript.setAttribute("src", `assets/js/components/country_selector.js?cache=${cacheResetter}`);
		document.getElementsByTagName("body")[0].appendChild(appScript);
		document.getElementsByTagName("body")[0].appendChild(mapScript);
		document.getElementsByTagName("body")[0].appendChild(countrySelectionScript);
	})();
</script>
</body>
</html>
