<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="bower_components/axios/dist/axios.min.js"></script>
    <script src="bower_components/csvtojson/browser/csvtojson.min.js"></script>
    <script src="bower_components/vue/dist/vue.min.js"></script>
</head>
<body>
<div id="app">
    <input id="select_all_checkbox" type="checkbox" v-model="selectAll" :indeterminate.prop="partialSelection"/>
    <label for="select_all_checkbox">Select All</label>
    <br/>
    <span v-for="country in countries">
        <input type="checkbox" v-bind:id="country" v-bind:value="country" v-model="checkedCountries"/>
        <label v-bind:for="country">{{country}}</label>
        <br/>
    </span>
    <span>Checked countries ({{selectionLength}}): {{checkedCountries}}</span>
    <p>{{timeSeries}}</p>
</div>
<script type="application/javascript">

    (async () => {
        const response = await axios({
            method: 'get',
            url: 'docs/data/covid_confirmed.csv',
        });
        const csvString = response.data;
        const data = await csv({output: 'json'}).fromString(csvString);

        // parse the data into what we need
        const countries = new Set();
        const states = new Set();
        const countriesByState = {}; // look up a state's country
        const countryStates = {}; // enumerate up all states in a country
        for (const location of data) {
            const currentCountry = location['Country/Region'];
            const currentState = location['Province/State'];
            countries.add(currentCountry);
            if (currentState.length < 1) {
                continue;
            }
            states.add(currentState);
            countriesByState[currentState] = currentCountry;
            countryStates[currentCountry] = countryStates[currentCountry] || new Set();
            countryStates[currentCountry].add(currentState);
        }

        // debugger

        console.dir(countries);
        console.dir(states);

        const app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                countries,
                cases: data,
                checkedCountries: [],
                selectAll: false,
                partialSelection: false
            },
            watch: {
                selectAll: function (newValue) {
                    if (newValue) {
                        this.checkedCountries = Array.from(this.countries);
                        this.partialSelection = false;
                    } else {
                        this.checkedCountries = [];
                    }
                },
                checkedCountries: function (newValue) {
                    const selectedCountryCount = newValue.length;
                    const totalCountryCount = this.countries.size;
                    if (selectedCountryCount === 0) {
                        this.selectAll = false;
                        this.partialSelection = false;
                    } else if (selectedCountryCount === totalCountryCount) {
                        this.selectAll = true;
                        this.partialSelection = false;
                    } else {
                        this.partialSelection = true;
                    }
                }
            },
            computed: {
                selectionLength: function () {
                    return this.checkedCountries.length;
                },
                timeSeries: function () {
                    const yValues = [];
                    const dates = {};
                    console.log(this.cases);
                    for (const currentLocation of this.cases) {
                        const currentCountry = currentLocation['Country/Region'];
                        const currentState = currentLocation['Province/State'];
                        if (!this.checkedCountries.includes(currentCountry)) {
                            continue;
                        }
                        console.log('included country!', currentCountry);
                        let dateIndex = 0;
                        for (const [key, value] of Object.entries(currentLocation)) {
                            if (['Province/State', 'Country/Region', 'Lat', 'Long'].includes(key)) {
                                continue;
                            }
                            const currentDate = key;
                            const currentCount = parseInt(value);
                            dates[currentDate] = dates[currentDate] || 0;
                            yValues[dateIndex] = yValues[dateIndex] || 0;
                            dates[currentDate] += currentCount;
                            yValues[dateIndex] += currentCount;
                            dateIndex++;
                        }
                    }
                    return yValues;
                }
            }
        })

    })();


</script>
</body>
</html>
