/* @font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
} */

html {
	background: #f5f7fb;
}

body {
	color: #212537;
	font-family: 'Spartan', sans-serif;
	font-size: 10px;
}

a:not(.ssk), a:visited:not(.ssk), a:hover:not(.ssk), a:active:not(.ssk) {
	color: rgb(80, 120, 226);
	text-decoration: none;
}

a:hover:not(.ssk) {
	text-decoration: underline;
}

div.header {
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: white;
	/*margin-bottom: 10px;*/
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

div.header > div.container > div.desktop_header {
	padding-left: 20px;
	padding-right: 20px;
}

div.desktop_header > div.link_container {
	padding-top: 7px;
}

h1 {
	margin: 0;
}

div.loading-section{
	text-align: center;
	padding-top: calc(50vh - 75px - 40px - 15px); /* 75px is half the footer, 40px is half the header */
	font-size: 15px;
}

div.main {
	min-height: 100vh;
	/* will cover the 100% of viewport */
	overflow: hidden;
	position: relative;
}

div.container {
	min-width: 1100px;
	width: 80vw;
	max-width: 1800px;
	margin: auto;
}

div.everything-except-footer {
	padding-bottom: 150px;
}

div.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: white;
	height: 150px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.01);
}

.chart-container.disabled {
	padding-top: 20px;
	margin-top: 30px;
	position: relative;
	width: 70vw;
	/* height: 80vh; */
	left: 22vw;
	margin: 10px;
}

div.sidebar {
	/*display: none;*/
}

div#share_section div.sidebar {
	margin-top: -10px;
	border-radius: 10px;
	padding: 0;
	padding-bottom: 10px;
}

div#share_section > div {
	margin-top: -10px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}

div.share_container {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

div.share_container tr > td:nth-child(2) {
	padding-left: 5px;
	padding-right: 5px;
}

div.share_container tr > td:nth-child(2) > input {
	width: calc(100% - 10px);
}

div.geography-picker {
	float: left;
	width: 300px;
}

div.geography-picker:not(.set_comparison) {
	margin-top: 10px;
}

div.geography-picker.set_comparison > div.settings-block {
	border-top-left-radius: 0;
	position: relative;
	z-index: 1;
}

div.aggregation-configuration {
	float: right;
	width: 200px;
	margin-top: 45px;
}

div.chart_container {
	margin-left: 310px;
	margin-right: 210px;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	border-top-left-radius: 0;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

div.chart_selector {
	padding-left: 10px;
}

div.chart_selector, div.set_selector {
	overflow: hidden;
	padding-top: 10px;
}

div.set_selector {
	width: fit-content;
	padding-left: 10px;
	margin-left: -10px;
	position: relative;
	z-index: 2;
}

div.set_selector > div > div, div.chart_selector > div > div {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-bottom: 0;
	border-left: 0;
}

div.map_selector {
	overflow: hidden;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;

}

div.map_selector > div.sidebar {
	padding: 0;
}

div.map_selector > div > div {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-bottom: 0;
	border-left: 0;
}

li.subdivided > span.subdivision_toggle {
	display: inline-block;
	transition: 0.3s cubic-bezier(0.2, 0.3, 0, 1);
}

li.subdivided > span.subdivision_toggle:before {
	content: '▶︎';
}

li.subdivided.expanded > span.subdivision_toggle {
	transform: rotate(90deg);
}

li.subdivided > input {
	margin-left: 5px;
}

li.pure-menu-list-item.territory {
	padding-top: 10px;
	padding-left: 35px;
}

label.country_label {
	/*display: inline-block;*/
	/*vertical-align: top;*/
}

label.country_label.select_all > span.country_name {
	font-size: 12px;
	/*text-transform: uppercase;*/
}

label.country_label > span.country_name {
	font-size: 11px;
}

label.country_label > span.country_decoration {
	font-size: 9px;
	display: inline-block;
	padding-left: 7px;
}

label.country_label > span.country_decoration:before {
	content: '(';
}

label.country_label > span.country_decoration:after {
	content: ')';
}


label.country_label > span.country_decoration > span:not(:last-child) {
	padding-right: 5px;
}

div.chart_container > div {
	text-align: center;
	padding-bottom: 10px;
}

div.map_selector > div > div > span, div.chart_container > div > span, div.chart_selector > div > div > span, div.set_selector > div > div > span {
	display: inline-block;
	padding: 12px;
	padding-bottom: 9px;
	vertical-align: top;
	font-weight: bold;
	font-size: 12px;
	/*border-top: 1px solid rgba(0, 0, 0, 0.05);*/
}

div.chart_selector > div > span{
	display: inline-block;
	padding: 12px;
	padding-top: 14px;
	padding-bottom: 9px;
	color: #757575;
}

span.note{
	float: right;
	margin-right: 5px;
}

div.chart_container > div > span:first-child {
	padding-left: 0;
}

div.chart_container > div > span:last-child {
	padding-right: 0;
}

div.set_selector > div > div > span:not(:first-child), div.chart_selector > div > div > span:not(:first-child), div.map_selector > div > div > span:not(:first-child) {
	border-left: 1px solid rgba(0, 0, 0, 0.05);
}

div.map_selector > span:last-child {

}

div.set_selector > div > div > span:not(.active), div.chart_selector > div > div > span:not(.active), div.map_selector > div > div > span:not(.active) {
	color: #757575;
	cursor: pointer;
}

div.set_selector > div > div > span:not(.active):hover, div.chart_selector > div > div > span:not(.active):hover, div.map_selector > div > div > span:not(.active):hover {
	color: rgb(80, 120, 226);
}

div.set_selector > div > div > span.active, div.chart_selector > div > div > span.active, div.map_selector > div > div > span.active {
	background-color: #ffffff;
}


div.map_container {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	border-top-left-radius: 0;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
	margin-bottom: 10px;
}

div.map_container div.canvas_container {
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	flex-grow: 1;
	min-height: 0;
}

div.map_container div.canvas_container > canvas {
	width: 100%;
	max-height: 80vh;
}

.footer-container {
	padding-left: 50px;
	padding-top: 20px;
}

.sidebar {
	padding: 10px;
	padding-top: 0;
}

.sidebar.disabled {
	position: absolute;
	width: 20vw;
	height: 80vh;
	padding: 10px;
	padding-top: 0;
	box-sizing: border-box;
}

.custom-restricted {
	height: 50vh;
}

.settings-block {
	background: #fff;
	border-radius: 10px;
	padding: 20px 15px;
	overflow: scroll;
	margin-bottom: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

.settings-block.disabled {
	width: 20vw;
	background: #fff;
	border-radius: 10px;
	padding: 20px 25px;
	margin-top: 10px;
	box-sizing: border-box;
	overflow: scroll;
}

.config {
	margin-top: 0;
}

.pure-menu-list-item {
	padding-top: 15px;
}

.pure-menu-list-item:first-child {
	padding-top: 0;
}

label {
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 5px;
}

@media screen and (max-width: 30em) {
	div.container {
		min-width: 0;
		max-width: none;
		width: 100%;
	}

	div.header {
		margin-bottom: 5px;
	}

	div.header > div.container {
		padding: 0;
		text-align: center;
	}

	div.share_container tr > td:nth-child(2) {
		padding-left: 10px;
		padding-right: 10px;
	}

	div.share_container tr > td:nth-child(2) > input {
		width: calc(100% - 20px);
	}

	div.header > div.container > div.desktop_header > div.link_container {
		padding-top: 12px;
	}

	div.chart_selector {
		padding-left: 0;
		padding-top: 5px;
		position: relative;
		z-index: 2;
	}

	div.aggregation-configuration {
		margin-top: 5px;
	}

	div.geography-picker {
		float: none;
		width: calc(100vw - 10px);
		/*display: flex;*/
		display: block;
		order: 3;
		margin-bottom: 5px;
	}

	div.aggregation-configuration {
		float: none;
		width: calc(100vw - 10px);
		display: flex;
		order: 2;
		margin-bottom: 5px;
	}

	div.x_chart_container {
		width: calc(100vw - 20px);
		left: 0;
		margin: 0;
		display: flex;
		order: 1;
		padding: 5px;
		border-radius: 5px;
		margin-bottom: 5px;

	}

	div.chart_container {
		margin: 0;
		padding: 5px;
		border-radius: 5px;
		margin-bottom: 5px;
		border-top-left-radius: 0;
	}

	div.chart_container > div > span {
		padding: 6px;
	}

	div.chart_container .graph-canvas-wrapper {
		height: 50vh;
	}

	div.map_selector {
		padding-left: 5px;
		padding-right: 5px;
	}

	div.map_selector > div > div {
		width: fit-content;
	}

	div.map_container {
		margin-bottom: 5px;
	!important;
		position: relative;
		z-index: 1;
	}

	div.map_selector > div > div {
		z-index: 2;
		position: relative;
	}


	.sidebar {
		position: static;
		height: initial;
		display: flex;
		flex-direction: column;
		padding: 5px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.settings-block {
		border-radius: 5px;
		padding: 5px;
		display: inline-block;
		width: 100%;
		margin: 0;
	}

	div#share_section div.sidebar {
		margin-top: -5px;
	}

	div.share_container {
		border-radius: 5px;
	}

	div#share_section > div {
		margin-top: -5px;
		padding-left: 5px;
		padding-right: 5px;
	}

	div.aggregation-configuration > div.settings-block:only-child {
		width: 100%;
	}

	div.aggregation-configuration > div.settings-block:not(:only-child) {
		width: 50%;
	}

	div.aggregation-configuration > div.settings-block:not(:only-child):first-child {
		width: calc(50% - 5px);
		margin-right: 5px;
	}

	.chart-container {
		width: 100vw;
		left: 0;
		position: static;
	}
}

.pure-menu-list-item {
	padding-top: 15px;
}

input[type=radio] + label {
	vertical-align: top;
}

input[type=checkbox] {
	width: 1em;
	height: 1em;
	font: inherit;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: #fff;
	border-radius: 0.125em;
	box-sizing: border-box;
	border: 0.125em solid #9E9E9E;
	box-shadow: inset 0 0 0 0 #5062fe;
	margin-bottom: 2px;
	position: relative;
	-webkit-transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s;
	transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
}

input[type=checkbox]:focus {
	outline: none;
}

input[type=checkbox]:active {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

input[type=checkbox]:checked, input[type=checkbox]:indeterminate {
	border-color: #5062fe;
	box-shadow: inset 0 0 0 0.5em #5062fe;
	-webkit-transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s;
	transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
}

input[type=checkbox]:before, input[type=checkbox]:after {
	content: '';
	background: #fff;
	height: 1em;
	width: 1em;
	position: absolute;
	-webkit-transform: translate(0.2728em, 0.4279em) rotate(44.91deg) scale(0.3411, 0.1);
	transform: translate(0.2728em, 0.4279em) rotate(44.91deg) scale(0.3411, 0.1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	top: -0.125em;
	left: -0.125em;
}

input[type=checkbox]:after {
	-webkit-transform: translate(0.8494em, 0.35em) rotate(135.22deg) scale(0.5612, 0.1);
	transform: translate(0.8494em, 0.35em) rotate(135.22deg) scale(0.5612, 0.1);
}

input[type=checkbox]:not(:checked):before {
	-webkit-transform: translate(0.505em, 0.455em) rotate(44.91deg) scale(0.1, 0.1);
	transform: translate(0.505em, 0.455em) rotate(44.91deg) scale(0.1, 0.1);
	/* opacity: 0; */
}

input[type=checkbox]:not(:checked):after {
	-webkit-transform: translate(0.575em, 0.525em) rotate(135.22deg) scale(0.1, 0.1);
	transform: translate(0.575em, 0.525em) rotate(135.22deg) scale(0.1, 0.1);
	/* opacity: 0; */
}

input[type=checkbox]:indeterminate:before {
	-webkit-transform: translate(0.25em, 0.45em) rotate(0deg) scale(0.5, 0.1);
	transform: translate(0.25em, 0.45em) rotate(0deg) scale(0.5, 0.1);
}

input[type=checkbox]:indeterminate:after {
	-webkit-transform: translate(0.75em, 0.55em) rotate(180deg) scale(0.5, 0.1);
	transform: translate(0.75em, 0.55em) rotate(180deg) scale(0.5, 0.1);
}

/* Rest */

.md-radio {
	margin: 5px 0;
}

.md-radio.md-radio-inline {
	display: inline-block;
}

.md-radio input[type="radio"] {
	display: none;
}

.md-radio input[type="radio"]:checked + label:before {
	border-color: #5062fe;
	animation: ripple 0.2s linear forwards;
}

.md-radio input[type="radio"]:checked:disabled + label:before {
	border-color: #7a7a7a;
	animation: ripple 0.2s linear forwards;
}

.md-radio input[type="radio"]:checked:disabled + label:after {
	background: #7a7a7a;
}

.md-radio input[type="radio"]:disabled + label {
	cursor: not-allowed;
}

.md-radio input[type="radio"]:checked + label:after {
	transform: scale(1);
}

.md-radio label {
	display: inline-block;
	position: relative;
	padding: 0 0 0 30px;
	margin-bottom: 0;
	cursor: pointer;
	vertical-align: top;
	margin-left: 2px;
	margin-right: 5px;
}

.md-radio label:before, .md-radio label:after {
	position: absolute;
	content: "";
	border-radius: 50%;
	transition: all 0.3s ease;
	transition-property: transform, border-color;
}

.md-radio label:before {
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid rgba(0, 0, 0, 0.54);
	box-sizing: border-box;
}

.md-radio label:after {
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	transform: scale(0);
	background: #5062fe;
}

.select-css {
	display: inline-block;
	font-size: 10px;
	color: #444;
	line-height: 1.3;
	padding: .4em 1.4em .3em .6em;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}
